*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
.home{
	width:90%;
	margin:0 auto;
	}
.background{
	background-image:url("watch.png");
	background-repeat:no-repeat;
	background-position: bottom 90px right 100px;
	background-color:#115061;
	width:100%;
	height:80vh;
	}
.container{
	text-indent:50px;
	padding-top:100px;
	color:white;
	}
.content{
	padding:20px;
	}
.content h2{
	font-size:35px;
	text-transform:capitalize;
	}
.content p{
	font-family: 'Pacifico', cursive;
	font-size:25px;
	}
button{
	background-color:white;
	text-transform:capitalize;
	padding:10px 15px;
	border-radius:10px;
	margin-left:20px;
	font-size:16px;
	font-weight:300px;
	}
	
	




.